body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* Banner Start */
.banner {
    background-image: url(./images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    margin-bottom: 80px;
}

.banner-content {
    text-align: right;
    width: 500px;
    position: relative;
    top: 200px;
    left: 750px;
}

.banner-content button {
    padding: 15px 45px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.banner-content h1 {
    font-size: 3em;
}

/* Banner End */



/* OverView-years Start */

.overview-years-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.overview-img {
    width: 40%;
}

.overview-img img {
    max-width: 80%;
}

.overview-content {
    width: 40%;
}

.overview-content h1 {
    font-size: 2.5em;
}

.tick-icon span {
    color: green;
}

/* OverView-years Start */


/* My Plans Start */
.my-plans {
    margin-bottom: 80px;
}

.my-plans-header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.my-plan-lists {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* My Plans end */

/* MindSet start */

.mindset-container {
    margin-bottom: 80px;
    background-image: url(./images/gradient1.png), url(./images/watch.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
}

.mindset-header {
    color: white;
    font-size: 1.6em;
    position: relative;
    top: 115px;
    left: 180px;
}

.mindset-button {
    position: relative;
    top: 115px;
    left: 180px;
}

.mindset-button button {
    color: orange;
    font-weight: bold;
    background-color: white;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* MindSet end */

/* Footer Start */
.footer {
    background-color: black;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: white;
    height: 400px;
}

.future-container {
    width: 35%;
    margin-top: 50px;
    margin-right: 150px;
}

.future-container small {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.future-container h1 {
    font-size: 2em;
}

.media span {
    margin-right: 15px;
    cursor: pointer;

}

.subscribe-container {
    width: 35%;
    text-align: left;
}

.subscribe-container small {
    display: block;
}

.subscribe-container input {
    background-color: black;
    padding: 15px 40px;
    border-radius: 5px;
    border-color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.subscribe-container button {
    padding: 15px 45px;
    border-radius: 10px;
    background-color: rgb(31, 131, 224);
    color: white;
    font-size: 20px;
    cursor: pointer;
}





/* Footer End */