body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    top: 0%;
}

.banner {
    background-image: url(./images/banner/banner3.png);
    background-size: 1425px 650px;
    background-repeat: no-repeat;
    height: 640px;
    margin-bottom: 80px;
}

.banner-content {
    text-align: right;
    position: relative;
    width: 500px;
    top: 250px;
    left: 750px;
}

.banner-content h1 {
    font-size: 3em;
}

/* OverView-years Start */

.overview-years-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.overview-img {
    width: 40%;
}

.overview-img img {
    max-width: 80%;
}

.overview-content {
    width: 40%;
}

.overview-content h1 {
    font-size: 2.5em;
}

.tick-icon span {
    color: green;
}

/* OverView-years Start */


/* My Plans Start */
.my-plans {
    margin-bottom: 80px;
}

.my-plans-header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.my-plan-lists {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* My Plans end */